<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/font.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/vault.css" rel="stylesheet">
    <title>{{name}} | Vault</title>
</head>
<body>
{{> navigation page="Vault" logout=true theme-switch=true }}
<div class="padding-to-nav center-container">
    <table class="responsive-width">
        <thead>
        <tr>
            <th colspan="3" class="bottom-border">
                <div class="space-between-container">
                    <form action="/vault" method="get">
                        <select name="id" onchange="this.form.submit();">
                            {{#each tables}}
                                <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </form>
                    <form action="/edit" method="get">
                        <input type="hidden" name="id" value="{{table_id}}">
                        <input type="submit" value="Edit table">
                    </form>
                </div>
            </th>
        </tr>
        <tr>
            {{#each columns}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        <tr>
            {{#each rows}}
                {{#each this.data}}
                    <td>{{this}}</td>
                {{/each}}
            {{/each}}
        </tr>
        </tbody>
    </table>
</div>
{{> action-bar }}
</body>
</html>
